# Start

Import lib

In [1]:
#basic
import os
import math

#analysis
import numpy as np
import pandas as pd

#Statistik
import scipy.stats as stats

#plot
import matplotlib.pyplot as plt
import seaborn as sns

# folder Force data (novel loadsol 2)
Time[secs]: Zeit  
Heel: Ferse   
Midfoot: Fußgewölbe  
Forefoot: Zehe

In [ ]:
df = pd.read_excel("C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/loadsolASCII_25-11-11 09-24-19-079.xlsx")

df.head()

,Time[secs],PRY201_L_Heel,PRY201_L_Midfoot,PRY201_L_Forefoot,PRY201_L,PRY202_R_Forefoot,PRY202_R_Midfoot,PRY202_R_Heel,PRY202_R
0,0.00,99.71,124.49,147.50,371.70,119.68,99.84,157.44,376.96
1,0.01,102.07,124.49,147.50,374.06,122.24,99.84,160.00,382.08
2,0.02,99.71,122.13,144.55,366.39,119.68,99.84,160.00,379.52
3,0.03,99.71,122.13,142.19,364.03,122.24,102.40,160.00,384.64
4,0.04,97.35,122.13,142.19,361.67,124.80,102.40,160.00,387.20

In [20]:
file_path = r"C:/Users/user/Desktop/Fatemeh/Force data (novel loadsol 2)/Force data (novel loadsol 2)/loadsolASCII_25-11-11 09-24-19-079.txt"

df = pd.read_csv(
    file_path,
    sep="\t",        # جداکننده TAB
    skiprows=2,      # دو خط اول (File و Comment) حذف شود
    decimal=",",     # تبدیل کاما به نقطه اعشاری
)

df.head()

,,,,,Unnamed: 0,PRY201-L::Heel,PRY201-L::Midfoot,PRY201-L::Forefoot,PRY201-L,Unnamed: 5,PRY202-R::Forefoot,PRY202-R::Midfoot,PRY202-R::Heel,PRY202-R
Time[secs],Force[N],Force[N],Force[N],Force[N],Time[secs],Force[N],Force[N],Force[N],Force[N],Time[secs],AccX,AccY,AccZ,NaN
"0,000","99,710","124,490","147,500","371,700","0,000","119,680","99,840","157,440","376,960",NaN,NaN,NaN,NaN,NaN
"0,010","102,070","124,490","147,500","374,060","0,010","122,240","99,840","160,000","382,080",NaN,NaN,NaN,NaN,NaN
"0,020","99,710","122,130","144,550","366,390","0,020","119,680","99,840","160,000","379,520",NaN,NaN,NaN,NaN,NaN
"0,030","99,710","122,130","142,190","364,030","0,030","122,240","102,400","160,000","384,640",NaN,NaN,NaN,NaN,NaN

In [26]:
import pandas as pd

# خواندن خطوط فایل
with open("C:/Users/user/Desktop/Fatemeh/Force data (novel loadsol 2)/Force data (novel loadsol 2)/loadsolASCII_25-11-11 09-24-19-079.txt", "r", encoding="utf-8") as f:
    lines = f.readlines()

# حذف سطر 1 و 2 (ایندکس 0 و 1)
# سطر 3 (ایندکس 2) → ستون‌ها
# سطر 4 (ایندکس 3) → حذف
header = lines[2].strip().split()  # نام ستون‌ها

# بقیهٔ داده‌ها از سطر 5 به بعد (ایندکس 4+)
data_lines = lines[4:]

# ایجاد DataFrame
df = pd.read_csv(
    pd.io.common.StringIO("\n".join(data_lines)),
    sep=r"\s+",        # جداکنندهٔ فاصله یا تب
    names=header,      # نام ستون‌ها
    decimal=",",       # اعشار با کاما
    engine="python"
)

df = pd.DataFrame(df)
df

,,PRY201-L::Heel,PRY201-L::Midfoot,PRY201-L::Forefoot,PRY201-L,PRY202-R::Forefoot,PRY202-R::Midfoot,PRY202-R::Heel,PRY202-R
0.00,99.71,124.49,147.50,371.70,0.00,119.68,99.84,157.44,376.96
0.01,102.07,124.49,147.50,374.06,0.01,122.24,99.84,160.00,382.08
0.02,99.71,122.13,144.55,366.39,0.02,119.68,99.84,160.00,379.52
0.03,99.71,122.13,142.19,364.03,0.03,122.24,102.40,160.00,384.64
0.04,97.35,122.13,142.19,361.67,0.04,124.80,102.40,160.00,387.20
...,...,...,...,...,...,...,...,...,...
592.00,154.70,154.70,87.50,396.90,592.00,104.34,112.48,127.28,344.10
592.01,154.70,149.80,84.70,389.20,592.01,99.90,116.92,142.08,358.90
592.02,154.70,144.90,79.80,379.40,592.02,94.72,116.92,156.88,368.52
592.03,157.50,140.00,77.00,374.50,592.03,89.54,122.10,172.42,384.06
592.04,157.50,129.50,67.20,354.20,592.04,84.36,122.10,185.00,391.46

In [ ]:
path = "D:/Last project Data Analayses/Music Analysis/data/processed/Dataframe"
dir_list = os.listdir(path)
variable_names = dir_list.copy()
for i in range(len(variable_names)):
    variable_names[i] = variable_names[i].replace(".csv","")

file_names = dir_list

for var_name, file_name in zip(variable_names, file_names):
    print(f"name {var_name}    and file {var_name}")
    globals()[var_name] = pd.read_csv(f'D:/Last project Data Analayses/Music Analysis/data/processed/Dataframe/{file_name}').drop("Unnamed: 0", axis=1)