# Start
First, we attached sensors to different individuals and recorded plantar foot forces using various sensors under different conditions.  
The forces include heel force, midfoot force, and arch force.  
The data were recorded separately for the right and left feet and collected at different time points.   
The time interval changes by 0.01 seconds.  
The surfaces include: ["Gravel", "Asphalt", "Sand", "Grass", "Forest", "Wood"].  
The input files are in `.txt` format.  
First, we read all the files, and then proceed to analyze each dataset.

Import library

In [1]:
#basic
import os
import math

#analysis
import numpy as np
import pandas as pd

#Statistik
import scipy.stats as stats

#plot
import matplotlib.pyplot as plt
import seaborn as sns

# folder Force data (novel loadsol 2)
Time[secs]: Zeit  
Heel: Ferse   
Midfoot: Fußgewölbe  
Forefoot: Zehe

In [2]:
file_path = r"C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Force data/loadsolASCII_25-11-11 09-24-19-079.txt"

df = pd.read_csv(
    file_path,
    sep="\t",        # جداکننده TAB
    decimal=",",     # تبدیل کاما به نقطه اعشاری
)

df.head()

,Time[secs],PRY201_L_Heel,PRY201_L_Midfoot,PRY201_L_Forefoot,PRY201_L,Time[secs].1,PRY202_R_Forefoot,PRY202_R_Midfoot,PRY202_R_Heel,PRY202_R
0,0,99.71,124.49,147.5,371.7,0,119.68,99.84,157.44,376.96
1,0.01,102.07,124.49,147.5,374.06,0.01,122.24,99.84,160,382.08
2,0.02,99.71,122.13,144.55,366.39,0.02,119.68,99.84,160,379.52
3,0.03,99.71,122.13,142.19,364.03,0.03,122.24,102.4,160,384.64
4,0.04,97.35,122.13,142.19,361.67,0.04,124.8,102.4,160,387.2

# Read all data for analyis

In [45]:
#path
path = r"C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/All by category"

# read all data when that is .txt
file_names = [f for f in os.listdir(path) if f.endswith('.txt')]

#clear name and remove space and - from name
def sanitize_name(name: str) -> str:
    name = name.replace(".txt", "")
    name = name.replace(" ", "_").replace("-", "_")
    name = ''.join(c if c.isalnum() or c == '_' else '_' for c in name)
    if name and name[0].isdigit():
        name = '_' + name
    return name


list_name_dataframe=[]
# read all data
for file_name in file_names:
    var_name = sanitize_name(file_name)
    file_path = os.path.join(path, file_name)
    
    print(f" file: {var_name} -- name dataframe: {file_name}")
    
    try:
        df = pd.read_csv(
            file_path,
            sep="\t",
            decimal=",",
            engine="python"
        )
        df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
        
        #creat one liest by name of datafram
        list_name_dataframe.append(var_name)

        # name of data frame
        globals()[var_name] = df
        
        
    except Exception as e:
        print(f" --------Error---- {file_name}: {e}")

 file: loadsolASCII_25_11_11_09_24_19_079_Gravel -- name dataframe: loadsolASCII_25-11-11 09-24-19-079_Gravel.txt
 file: loadsolASCII_25_11_11_09_38_11_074_Asphalt -- name dataframe: loadsolASCII_25-11-11 09-38-11-074_Asphalt.txt
 file: loadsolASCII_25_11_11_09_52_01_474_Sand -- name dataframe: loadsolASCII_25-11-11 09-52-01-474_Sand.txt
 file: loadsolASCII_25_11_11_10_06_34_305_Grass -- name dataframe: loadsolASCII_25-11-11 10-06-34-305_Grass.txt
 file: loadsolASCII_25_11_11_10_09_51_519_Grass -- name dataframe: loadsolASCII_25-11-11 10-09-51-519_Grass.txt
 file: loadsolASCII_25_11_11_13_49_21_080_Grass -- name dataframe: loadsolASCII_25-11-11 13-49-21-080_Grass.txt
 file: loadsolASCII_25_11_11_13_54_44_511_Grass -- name dataframe: loadsolASCII_25-11-11 13-54-44-511_Grass.txt
 file: loadsolASCII_25_11_11_14_09_23_595_Sand -- name dataframe: loadsolASCII_25-11-11 14-09-23-595_Sand.txt
 file: loadsolASCII_25_11_11_14_21_20_634_Asphalt -- name dataframe: loadsolASCII_25-11-11 14-21-20-634_Asphalt.txt
 file: loadsolASCII_25_11_11_14_28_52_974_Gravel -- name dataframe: loadsolASCII_25-11-11 14-28-52-974_Gravel.txt
 file: loadsolASCII_25_11_13_10_16_07_282_Asphalt -- name dataframe: loadsolASCII_25-11-13 10-16-07-282_Asphalt.txt
 file: loadsolASCII_25_11_13_10_29_20_864_Grass -- name dataframe: loadsolASCII_25-11-13 10-29-20-864_Grass.txt
 file: loadsolASCII_25_11_13_10_45_28_787_Sand -- name dataframe: loadsolASCII_25-11-13 10-45-28-787_Sand.txt
 file: loadsolASCII_25_11_13_11_00_05_455_Forest -- name dataframe: loadsolASCII_25-11-13 11-00-05-455_Forest.txt
 file: loadsolASCII_25_11_13_13_42_38_135_Wood -- name dataframe: loadsolASCII_25-11-13 13-42-38-135_Wood.txt
 file: loadsolASCII_25_11_13_13_53_39_763_Wood -- name dataframe: loadsolASCII_25-11-13 13-53-39-763_Wood.txt
 file: loadsolASCII_25_11_13_14_12_44_574_Grass -- name dataframe: loadsolASCII_25-11-13 14-12-44-574_Grass.txt
 file: loadsolASCII_25_11_13_14_29_01_831_Sand -- name dataframe: loadsolASCII_25-11-13 14-29-01-831_Sand.txt
 file: loadsolASCII_25_11_13_14_44_02_331_Asphalt -- name dataframe: loadsolASCII_25-11-13 14-44-02-331_Asphalt.txt
 file: loadsolASCII_25_11_14_09_25_59_897_Sand -- name dataframe: loadsolASCII_25-11-14 09-25-59-897_Sand.txt
 file: loadsolASCII_25_11_14_09_43_39_794_Grass -- name dataframe: loadsolASCII_25-11-14 09-43-39-794_Grass.txt
 file: loadsolASCII_25_11_14_10_00_15_439_Asphalt -- name dataframe: loadsolASCII_25-11-14 10-00-15-439_Asphalt.txt
 file: loadsolASCII_25_11_14_10_07_53_125_Wood -- name dataframe: loadsolASCII_25-11-14 10-07-53-125_Wood.txt
 file: loadsolASCII_25_11_16_13_47_50_266_Forest -- name dataframe: loadsolASCII_25-11-16 13-47-50-266_Forest.txt
 file: loadsolASCII_25_11_16_14_07_55_722_Asphalt -- name dataframe: loadsolASCII_25-11-16 14-07-55-722_Asphalt.txt
 file: loadsolASCII_25_11_16_14_29_02_178_Sand -- name dataframe: loadsolASCII_25-11-16 14-29-02-178_Sand.txt
 file: loadsolASCII_25_11_16_14_46_47_845_Grass -- name dataframe: loadsolASCII_25-11-16 14-46-47-845_Grass.txt
 file: loadsolASCII_25_11_17_09_15_09_073_Sand -- name dataframe: loadsolASCII_25-11-17 09-15-09-073_Sand.txt
 file: loadsolASCII_25_11_17_09_27_24_980_Grass -- name dataframe: loadsolASCII_25-11-17 09-27-24-980_Grass.txt
 file: loadsolASCII_25_11_17_09_44_13_137_Forest -- name dataframe: loadsolASCII_25-11-17 09-44-13-137_Forest.txt
 file: loadsolASCII_25_11_17_09_53_52_492_Forest -- name dataframe: loadsolASCII_25-11-17 09-53-52-492_Forest.txt
 file: loadsolASCII_25_11_17_10_09_36_341_Asphalt -- name dataframe: loadsolASCII_25-11-17 10-09-36-341_Asphalt.txt

read and save as csv

In [44]:
input_path = r"C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/All by category"
output_path = r"C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv"  # اصلاح شد: ata → data

os.makedirs(output_path, exist_ok=True)

file_names = [f for f in os.listdir(input_path) if f.endswith('.txt')]

def sanitize_name(name: str) -> str:
    name = name.replace(".txt", "")
    name = name.replace(" ", "_").replace("-", "_")
    name = ''.join(c if c.isalnum() or c == '_' else '_' for c in name)
    if name and name[0].isdigit():
        name = '_' + name
    return name

for file_name in file_names:
    var_name = sanitize_name(file_name)
    input_file = os.path.join(input_path, file_name)
    output_file = os.path.join(output_path, f"{var_name}.csv")
    
    try:
        df = pd.read_csv(input_file, sep="\t", decimal=",", engine="python")
        df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
        df.to_csv(output_file, index=False)
        print(f"Saved: {output_file}")
    except Exception as e:
        print(f"Error: {file_name} - {e}")

Saved: C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv\loadsolASCII_25_11_11_09_24_19_079_Gravel.csv
Saved: C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv\loadsolASCII_25_11_11_09_38_11_074_Asphalt.csv
Saved: C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv\loadsolASCII_25_11_11_09_52_01_474_Sand.csv
Saved: C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv\loadsolASCII_25_11_11_10_06_34_305_Grass.csv
Saved: C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv\loadsolASCII_25_11_11_10_09_51_519_Grass.csv
Saved: C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv\loadsolASCII_25_11_11_13_49_21_080_Grass.csv
Saved: C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv\loadsolASCII_25_11_11_13_54_44_511_Grass.csv
Saved: C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv\loadsolASCII_25_11_11_14_09_23_595_Sand.csv
Saved: C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv\loadsolASCII_25_11_11_14_21_20_634_Asphalt.csv
Saved: C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv\loadsolASCII_25_11_11_14_28_52_974_Gravel.csv
Saved: C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv\loadsolASCII_25_11_13_10_16_07_282_Asphalt.csv
Saved: C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv\loadsolASCII_25_11_13_10_29_20_864_Grass.csv
Saved: C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv\loadsolASCII_25_11_13_10_45_28_787_Sand.csv
Saved: C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv\loadsolASCII_25_11_13_11_00_05_455_Forest.csv
Saved: C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv\loadsolASCII_25_11_13_13_42_38_135_Wood.csv
Saved: C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv\loadsolASCII_25_11_13_13_53_39_763_Wood.csv
Saved: C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv\loadsolASCII_25_11_13_14_12_44_574_Grass.csv
Saved: C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv\loadsolASCII_25_11_13_14_29_01_831_Sand.csv
Saved: C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv\loadsolASCII_25_11_13_14_44_02_331_Asphalt.csv
Saved: C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv\loadsolASCII_25_11_14_09_25_59_897_Sand.csv
Saved: C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv\loadsolASCII_25_11_14_09_43_39_794_Grass.csv
Saved: C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv\loadsolASCII_25_11_14_10_00_15_439_Asphalt.csv
Saved: C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv\loadsolASCII_25_11_14_10_07_53_125_Wood.csv
Saved: C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv\loadsolASCII_25_11_16_13_47_50_266_Forest.csv
Saved: C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv\loadsolASCII_25_11_16_14_07_55_722_Asphalt.csv
Saved: C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv\loadsolASCII_25_11_16_14_29_02_178_Sand.csv
Saved: C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv\loadsolASCII_25_11_16_14_46_47_845_Grass.csv
Saved: C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv\loadsolASCII_25_11_17_09_15_09_073_Sand.csv
Saved: C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv\loadsolASCII_25_11_17_09_27_24_980_Grass.csv
Saved: C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv\loadsolASCII_25_11_17_09_44_13_137_Forest.csv
Saved: C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv\loadsolASCII_25_11_17_09_53_52_492_Forest.csv
Saved: C:/Users/user/Desktop/Fatemeh/Analysis_Data/data/raw/Force data (novel loadsol 2)/Data as scv\loadsolASCII_25_11_17_10_09_36_341_Asphalt.csv

list of dataframe by category

In [34]:
list_of_dataframe = pd.DataFrame(list_name_dataframe, columns=["category"])
category = pd.DataFrame(["Gravel", "Asphalt", "Sand", "Grass", "Forest", "Wood"],columns=["category"])
mask = category["category"][1]
list_of_dataframe_mask = list_of_dataframe[list_of_dataframe["category"].str.contains(mask, na=False)]
list_of_dataframe_mask

                                      category
1   loadsolASCII_25_11_11_09_38_11_074_Asphalt
8   loadsolASCII_25_11_11_14_21_20_634_Asphalt
10  loadsolASCII_25_11_13_10_16_07_282_Asphalt
18  loadsolASCII_25_11_13_14_44_02_331_Asphalt
21  loadsolASCII_25_11_14_10_00_15_439_Asphalt
24  loadsolASCII_25_11_16_14_07_55_722_Asphalt
31  loadsolASCII_25_11_17_10_09_36_341_Asphalt

Data about loadsolASCII_25_11_11_09_38_11_074

In [35]:
loadsolASCII_25_11_11_09_38_11_074_Asphalt.head(5)

,Time[secs],PRY201_L_Heel,PRY201_L_Midfoot,PRY201_L_Forefoot,PRY201_L,Time[secs].1,PRY202_R_Forefoot,PRY202_R_Midfoot,PRY202_R_Heel,PRY202_R
0,0.00,182.04,162.06,127.28,471.38,0.00,84.68,99.76,145.00,329.44
1,0.01,182.04,162.06,127.28,471.38,0.01,84.68,99.76,142.10,326.54
2,0.02,185.00,164.28,127.28,476.56,0.02,87.00,99.76,142.10,328.86
3,0.03,182.04,162.06,127.28,471.38,0.03,87.00,99.76,139.78,326.54
4,0.04,182.04,164.28,127.28,473.60,0.04,87.00,99.76,137.46,324.22

is not any NULL

In [53]:
loadsolASCII_25_11_11_09_38_11_074_Asphalt.isnull().sum()

Time[secs]           0
PRY201_L_Heel        0
PRY201_L_Midfoot     0
PRY201_L_Forefoot    0
PRY201_L             0
Time[secs].1         0
PRY202_R_Forefoot    0
PRY202_R_Midfoot     0
PRY202_R_Heel        0
PRY202_R             0
dtype: int64

In [54]:
loadsolASCII_25_11_11_09_38_11_074_Asphalt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20760 entries, 0 to 20759
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Time[secs]         20760 non-null  float64
 1   PRY201_L_Heel      20760 non-null  float64
 2   PRY201_L_Midfoot   20760 non-null  float64
 3   PRY201_L_Forefoot  20760 non-null  float64
 4   PRY201_L           20760 non-null  float64
 5   Time[secs].1       20760 non-null  float64
 6   PRY202_R_Forefoot  20760 non-null  float64
 7   PRY202_R_Midfoot   20760 non-null  float64
 8   PRY202_R_Heel      20760 non-null  float64
 9   PRY202_R           20760 non-null  float64
dtypes: float64(10)
memory usage: 1.6 MB

In [52]:
loadsolASCII_25_11_11_09_38_11_074.describe()

,Time[secs],PRY201_L_Heel,PRY201_L_Midfoot,PRY201_L_Forefoot,PRY201_L,Time[secs].1,PRY202_R_Forefoot,PRY202_R_Midfoot,PRY202_R_Heel,PRY202_R
count,20760.000000,20760.000000,20760.000000,20760.000000,20760.000000,20760.000000,20760.000000,20760.000000,20760.000000,20760.000000
mean,103.795000,118.393413,121.036095,163.689862,403.119369,103.795000,172.022418,92.143819,106.275951,370.444355
std,59.930401,201.471657,192.086676,251.682801,488.225529,59.930401,269.158161,173.775722,209.517378,492.541484
min,0.000000,0.000000,0.000000,0.000000,2.510000,0.000000,-1.000000,-1.000000,-1.000000,0.000000
25%,51.897500,7.500000,4.980000,0.000000,19.950000,51.897500,0.000000,0.000000,0.000000,4.960000
50%,103.795000,12.500000,9.960000,5.000000,49.620000,103.795000,9.750000,0.000000,2.400000,49.805000
75%,155.692500,163.432500,194.880000,231.020000,765.600000,155.692500,253.937500,68.500000,94.510000,749.360000
max,207.590000,1040.000000,707.370000,982.500000,1571.220000,207.590000,1057.500000,653.250000,1072.500000,1568.700000